@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #150D0D;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #150D0D;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.mainEventSection{
  padding: 32px;
  height: 232px;
}
.secondEventSection{
  height: 270px;
  display: flex;
  justify-content: flex-start;
  overflow: visible;
  gap: 20px;


}
.eventCardMain{
  height: 100%;
  width: 100%;
}
.event-card {
  height: 400px;
  width: 260px;
}

.event-card:hover {
  z-index: 50;
}

.event-map {
  height: 550px;
  width: 550px;
  margin: 0 auto; /* Center the map horizontally */
}


@media (max-width: 1024px) {
  .event-map {
    height: 450px;
    width: 450px;
  }
}

@media (max-width: 768px) {
  .event-map {
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 480px) {
  .event-map {
    height: 300px;
    width: 300px;
  }
}
