@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.event-card {
  height: 160px;
  width: 260px;
  transition: transform 0.3s ease, z-index 0.3s ease;
}

.event-card:hover {
  height: 360px;
  position: absolute;
  z-index: 50;
  transform: translateY(-90px);
}

.event-map {
  height: 550px;
  width: 550px;
  margin: 0 auto; /* Center the map horizontally */
}

@media (max-width: 1024px) {
  .event-map {
    height: 450px;
    width: 450px;
  }
}

@media (max-width: 768px) {
  .event-map {
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 480px) {
  .event-map {
    height: 300px;
    width: 300px;
  }
}
