@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: black;
  --foreground: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: black;
    --foreground: black;
  }
} */

body {
  /* color: var(--foreground);
  background: var(--background); */
  background: black;
  font-family: Arial, Helvetica, sans-serif;
}
.mainEventSection {
  align-items: flex-start;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
  height: 232px;
  justify-content: flex-start;
  overflow-y: visible;
  position: relative;
  width: 100%;
}
.secondEventSection {
  align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  height: 270px;
  justify-content: flex-start;
  padding: 0;
  position: relative;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding-right: 40px;
  width: 100vw;
  overflow-x: scroll;
  scrollbar-width: none;
}
.eventCardMain {
  flex: none;
  height: 400px;
  position: relative;
  width: 260px;
}
.event-card {
  height: 400px;
  width: 260px;
}

.event-card.open {
  z-index: 30; /* Higher z-index when the card is open */
}

.product-section {
  align-content: center;
  align-items: center;
  display: flex;
  /* flex: none; */
  flex-direction: row;
  flex-wrap: nowrap;
  height: 300px;
  /* justify-content: flex-start; */
  padding: 0;
  /* position: relative; */
}

.product-card {
  height: 520px;
  width: 260px;
}

.event-map {
  height: 550px;
  width: 550px;
  margin: 0 auto; /* Center the map horizontally */
}

@media (max-width: 1024px) {
  .event-map {
    height: 450px;
    width: 450px;
  }
}

@media (max-width: 768px) {
  .event-map {
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 480px) {
  .event-map {
    height: 300px;
    width: 300px;
  }
}
